---
import { format } from "date-fns";

import Link from "@/components/navigation/Link.astro";

type Props = {
  title: string;
  link: string;
  date: Date;
  new?: boolean;
};

const { title, link, date, new: isNew = false } = Astro.props;
---

<div class="flex justify-between mb-5">
  <span>{isNew ? "✨ " : ""}<Link href={link}>{title}</Link></span>
  <span class="text-disabled">{format(date, "MM/dd")}</span>
</div>
