---
import Link from "@/components/navigation/Link.astro";
import Paragraph from "@/components/structure/Paragraph.astro";

type Props = {
  title: string;
  description: string;
  link: string;
  external?: boolean;
  new?: boolean;
};

const {
  title,
  description,
  link,
  external = false,
  new: isNew = false,
} = Astro.props;
---

<div>
  {isNew ? "✨ " : ""}<Link
    href={link}
    class="mb-[5px]"
    target={external ? "_blank" : ""}
  >
    {title}
  </Link>
  <Paragraph>{description}</Paragraph>
</div>
