---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const props = Astro.props;
---

<div
  class="mt-[20px] first:mt-0 pt-[20px] first:pt-0 border-soft first:!border-0 border-t"
  {...props}
>
  <slot />
</div>
