---
type Props = {
  name: string;
};

const { name } = Astro.props;
---

<span class="inline-block relative self-center meme">
  <span
    class="bottom-[calc(100%+10px)] left-[calc(-100%-10px)] absolute bg-minimal meme-popover p-[10px] border border-soft rounded-md w-[100px] text-center"
  >
    <img
      class="inline-block mb-[5px] rounded-md"
      src={`/assets/img/memes/${name}.webp`}
      width="48"
      height="48"
    />
    <strong class="text-primary">:{name}:</strong>
  </span>
  <img
    class="inline-block meme-image ml-[0.5ch] rounded-sm"
    src={`/assets/img/memes/${name}.webp`}
    width="20"
    height="20"
  />
</span>
