---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: classNames, ...rest } = Astro.props;
---

<div
  class:list={[
    "max-w-[600px] mx-auto px-[20px] sm:px-0 pt-[100px] relative",
    classNames,
  ]}
  {...rest}
>
  <slot />
</div>
