---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  active?: boolean;
};

const { active = true, class: classes, ...rest } = Astro.props;
---

<a
  class:list={[
    classes,
    {
      ["text-disabled hover:text-secondary duration-[0.15s]"]: !active,
      ["decoration-disabled text-primary underline decoration-[1px] underline-offset-[2px] inline-block"]:
        active,
    },
  ]}
  {...rest}
  data-astro-prefetch="viewport"
>
  <slot />
</a>
