---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  active?: boolean;
};

const { active = true, class: classNames, ...rest } = Astro.props;
---

<a
  class:list={[
    classNames,
    {
      ["text-disabled"]: !active,
      ["decoration-disabled text-primary underline"]: active,
    },
  ]}
  {...rest}
>
  <slot />
</a>
