---
import { type HTMLAttributes } from "astro/types";

import clsx from "clsx";

type Props = HTMLAttributes<"a"> & {
  active?: boolean;
};

const { active = true, class: c, ...rest } = Astro.props;
---

<a
  {...rest}
  class={clsx(c, {
    ["text-disabled"]: !active,
    ["decoration-disabled text-primary underline"]: active,
  })}
>
  <slot />
</a>
