---
import Html from "../layouts/Html.astro";
import Head from "../layouts/Head.astro";
import Body from "../layouts/Body.astro";

import PrimaryHeading from "../components/headings/PrimaryHeading.astro";

import Header from "../components/layout/Header.astro";

import Link from "../components/navigation/Link.astro";

import Paragraph from "../components/structure/Paragraph.astro";

import Italic from "../components/typography/Italic.astro";

import StaggerGenerator from "../utils/stagger";

const sg = new StaggerGenerator();
---

<Html>
  <Head title="Whoops!" description="Page not found" />
  <Body>
    <Header>
      <PrimaryHeading style={sg.next()} data-animate>
        Seems like I'm missing this one {"🤔"}
      </PrimaryHeading>
    </Header>
    <Paragraph style={sg.next()} data-animate>
      I probably forgot to build the page you're looking for – but no worries,
      you can still look around my <Link href="/">homepage</Link> or my <Link
        href="/blog"
      >
        {/* */}blog{/* */}
      </Link> for some good reads.
    </Paragraph>
    <Paragraph style={sg.custom(12)} data-animate>
      <Italic>Perhaps this page will exist in the future...</Italic>
    </Paragraph>
  </Body>
</Html>
