---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

import Italic from "@/components/typography/Italic.astro";

import { getDownscaledPlaceholder } from "@/utils/image";

type Props = Omit<HTMLAttributes<"img">, "src" | "alt"> & {
  src: ImageMetadata;
  alt: any;
  withCaption?: boolean;
};

const {
  src,
  alt,
  width,
  height,
  title: themeDirective,
  withCaption = true,
} = Astro.props;

const blur = await getDownscaledPlaceholder(src);
---

<div>
  <figure
    class="mb-[20px]"
    data-blurrable
    data-theme-directive={themeDirective}
  >
    <div class="mb-[20px] rounded-md overflow-hidden">
      <Image
        style={`background-image: url(${blur}); background-size: cover;`}
        class="backdrop-blur-md"
        src={src ?? ""}
        alt={alt ?? ""}
        loading="lazy"
        decoding="async"
        width={width as number}
        height={height as number}
        onload="this.dataset.loaded = true"
        data-loaded="false"
      />
    </div>
    {
      withCaption && (
        <figcaption class="!text-disabled text-center">
          <Italic>
            {alt}
            <slot />
          </Italic>
        </figcaption>
      )
    }
  </figure>
</div>
