---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

import Italic from "../typography/Italic.astro";
import Paragraph from "./Paragraph.astro";

import { getDownscaledPlaceholder } from "../../utils/image";

type Props = Omit<HTMLAttributes<"img">, "src"> & {
  src: ImageMetadata;
};

const { src, alt, width, height } = Astro.props;

const blur = await getDownscaledPlaceholder(src);
---

<div
  style={`background-image: url(${blur}); background-size: cover;`}
  class="mb-[26px] mx-auto mt-[26px] rounded-md overflow-hidden relative"
>
  <Image
    class="backdrop-blur-md"
    src={src ?? ""}
    alt={alt ?? ""}
    loading="lazy"
    decoding="async"
    width={width as number}
    height={height as number}
    onload="this.dataset.loaded = true"
    data-loaded="false"
  />
</div>
<Paragraph class="text-center !text-disabled">
  <Italic>
    {alt}
  </Italic>
</Paragraph>
