---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"p">;

const { class: classes, ...rest } = Astro.props;
---

<p
  class:list={[
    "mb-[20px] text-secondary [&>a]:decoration-disabled [&>a]:text-primary [&>a]:underline [&>a]:mx-px [&>a]:decoration-1 [&>a]:underline-offset-2 *:data-footnote-backref:text-disabled *:data-footnote-backref:no-underline *:data-footnote-backref:duration-150 [&>[data-footnote-backref]:hover]:text-secondary *:data-footnote-backref:align-middle",
    classes,
  ]}
  data-blurrable
  {...rest}
>
  <slot />
</p>
