---
import { format } from "date-fns";

import Link from "./Link.astro";

type Props = {
  title: string;
  link: string;
  date: Date;
};

const { title, link, date } = Astro.props;
---

<div class="flex justify-between mb-5">
  <Link href={link}>{title}</Link>
  <span class="text-disabled">{format(date, "MM/dd")}</span>
</div>
