---
import Container from "./Container.astro";
import Link from "./Link.astro";

type Route = {
  name: string;
  path: string;
  target?: string;
};

const currentPath = new URL(Astro.request.url).pathname;

const routes: Route[] = [
  { name: "Home", path: "/" },
  { name: "Blog", path: "/blog" },
  { name: "GitHub", path: "https://github.com/gantoreno", target: "_blank" },
];
---

<div
  class="fixed top-0 w-full h-[100px] z-10 pointer-events-none"
  style="background: linear-gradient(rgb(var(--background)), transparent)"
>
</div>
<nav
  class="h-[100px] w-full z-20 absolute top-0 left-0"
  style="--stagger:7"
  data-animate={currentPath === "/" || currentPath.startsWith("/blog/")}
>
  <Container class="flex items-center gap-5 h-full">
    {
      routes.map((route) => (
        <Link
          href={route.path}
          active={
            route.path === "/" && Astro.response.status !== 404
              ? route.path === currentPath
              : currentPath.startsWith(route.path)
          }
          target={route.target ?? ""}
        >
          {route.name}
        </Link>
      ))
    }
    {
      Astro.response.status === 404 && (
        <Link href={currentPath} active={true}>
          What?
        </Link>
      )
    }
  </Container>
</nav>
