---
import clsx from "clsx";
const { class: classNames, ...rest } = Astro.props;
---

<div
  class={clsx(
    "grid grid-cols-4 gap-[20px] border-t border-soft pt-[20px]",
    classNames
  )}
  {...rest}
>
  <slot name="title" />
  <div class="col-span-3">
    <slot name="items" />
  </div>
</div>
