---

---

<div class="w-[180px] mt-[60px]">
  <img
    src="/assets/img/signature.webp"
    class="block dark:hidden"
    alt="Signature"
  />
  <img
    src="/assets/img/signature-inverted.webp"
    class="hidden dark:block"
    alt="Signature"
  />
</div>
