---
import Container from "../components/layout/Container.astro";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
---

<body class="relative">
  <div id="controller" transition:persist></div>
  <Container>
    <Navbar />
    <slot />
    <Footer />
  </Container>
</body>
