---
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import clsx from "clsx";

const currentPath = new URL(Astro.request.url).pathname;
---

<body class="pt-[100px]">
  <div
    id="controller"
    class={clsx({
      "no-animate":
        /^\/blog\/?$/i.test(currentPath) || Astro.response.status === 404,
    })}
    transition:persist
  >
  </div>
  <Navbar />
  <Container>
    <slot />
    <Footer />
  </Container>
</body>
