---
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
---

<body class="pt-[100px]">
  <div id="controller" transition:persist></div>
  <Navbar />
  <Container id="container">
    <slot />
  </Container>
</body>
